.cardsContainer {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr, 1fr, 1fr);
}

.home-pokedex-btn {
  background: #415d68;
  background-image: url("../../assets/Pokedex_icon.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 8px;
  padding-left: 45px;
  padding-right: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 800;
  border: 3px solid #ffffff;
  border-radius: 10px;
  padding-block: 5px;
  box-shadow: 0px 0px 2px #000000d2;
  &:hover {
    scale: 1.05;
    transition: ease-in-out 0.2s;
    box-shadow: 0px 0px 5px #000000d2;
  }
}
